<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head><title></title></head><body>
{% extends 'base.html' %}
<br>

<br>

{% block content %} <br>

<br>

<span style="font-family: Courier New,Courier,monospace;">Welcome to
The Writer's List</span><br style="font-family: Courier New,Courier,monospace;">

<br style="font-family: Courier New,Courier,monospace;">

<span style="font-family: Courier New,Courier,monospace;">Log Screenplay</span>
[<a href="http://127.0.0.1:5000/home/logscreenplay">select</a>]<br style="font-family: Courier New,Courier,monospace;">

<span style="font-family: Courier New,Courier,monospace;">View
Screenplay Library</span> [<a href="http://127.0.0.1:5000/home/viewlibrary/">select</a>]<br style="font-family: Courier New,Courier,monospace;">

<span style="font-family: Courier New,Courier,monospace;">Search
Screenplay Library</span> [<a href="http://127.0.0.1:5000/home/searchlibrary">select</a>]<br style="font-family: Courier New,Courier,monospace;">

<span style="font-family: Courier New,Courier,monospace;">Make Writer
List</span> [<a href="http://127.0.0.1:5000/home/makelist">select</a>]<br>

<br>

<br>

{% endblock %}
</body></html>