<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head>
  <title></title>

  
</head><body>
{% extends 'base.html' %}
<br>

<br>

{% block content %}

<form action="/savelog" method="post"> 
    
  Title: <br><textarea cols="25" rows="1" name="title"></textarea>&nbsp;<br>
  Writer's First Name: <br><textarea cols="25" rows="1" name="writerfirst"></textarea>&nbsp;<br>
  Writer's Last Name: <br><textarea cols="25" rows="1" name="writerlast"></textarea>&nbsp;<br>
  Genre:
  <select name="genre" id="genre">
  <option value="genre">genre</option>
  <option value="comedy">comedy</option>
  <option value="romance">romance</option>
  <option value="action">action</option>
</select>[add]<br>
  Rating out of ten: <select name="starrating" id="starrating">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
  </select><br>
  Logline: <br><textarea cols="50" rows="2" name="logline"></textarea>&nbsp;<br>
  Synopsis: <br><textarea cols="50" rows="25" name="synopsis"></textarea>&nbsp;<br>
  


  <input name="form" value="Save" type="submit"> 

</form>

{% endblock %}

