<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html template="true"><head>

  
  <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"><title>THE WRITER'S LIST</title></head><body>
<div style="text-align: center;"><big style="font-family: Courier New,Courier,monospace;"><big><big><big>THE
WRITER'S LIST</big></big></big></big><br>
<a href = "/home">HOME</a><br> 


<hr style="width: 100%; height: 2px;"><div class="content"><span style="font-family: Courier New,Courier,monospace;"> {% block content %} {% endblock %}</span> </div>

</div>

</body></html>