<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<body>
{% extends 'base.html' %}


{% block content %}
<form action="/addtowriterlist" method="post">
<textarea cols="10" rows="1" name="writerfirst">{{writerfirst}} </textarea>&nbsp; 
<textarea cols="10" rows="1" name="writerlast">{{writerlast}} </textarea>&nbsp; - 
<textarea cols="30" rows="3" name="credits">{% for row in titles %}{{row[0]}}, {% endfor %}</textarea>&nbsp;
 <input name="form" value="Add to List" type="submit"></form>
<br><br>



{% for row in rows %}

  {{row['title']}}<br> 
  by {{row['writerfirst']}} {{row['writerlast']}}<br>
  "{{row['logline']}}"<br>
  <br>
  {{row['synopsis']}}<br><br>

<a href = "/editrecord/{{row['ID']}}">[edit record]</a><br>

<a href = "/addtolist/{{row['ID']}}">[add to list]</a><br>


<br>###<br>


{% endfor %}




{% endblock %}
</body></html>